<%= wicked_pdf_stylesheet_link_tag "members"%>
<section id="pdf_header">
<p>
  KENYA MAGISTRATES AND JUDGES ASSOCIATION<br/>
  THE SECRETARIAT KENYA MAGISTRATES AND JUDGES ASSOCIATION<br />
  MILIMANI LAW COURTS, 2ND FLOOR ROOM NO 244</br/>
  P.O BOX 30041-00100 NAIROBI, KENYA<br />
  TELEPHONE: 3588237<br/>
  EMAIL: <span>kmjasec@yahoo.com, kmjasec@gmail.com</span>
</p>
</section>
