<%= wicked_pdf_stylesheet_link_tag "members"%>
<section id="pdf_header">
<p>
  KENYA MAGISTRATES AND JUDGES ASSOCIATION<br/>
  The Secretariat kenya Magistrates and Judges Association<br/>
  Milimani law courts,2nd floor,room no 244<br/>
  P.O Box 30041-00100 Nairobi,Kenya<br/>
  Telephone: 3588237<br/>
  Email: <span>kmjasec@yahoo.com, kmjasec@gmail.com</span>
</p>
</section>
