<table class="table table-striped table-hover table-condensed">
  <tr>
    <th>Expected</th>
    <th>Amount</th>
    <th>Balance</th>
    <th>20 %</th>
  </tr>
  <tr>
    <td><%= @invoice%></td>
    <td><%= @amount%></td>
    <td><%= @balance%></td>
    <td><%= @twenty_percent%></td>
  </tr>
</table>
