<div class="row">
  <div class="span10 offset3">
<h1>Editing payment</h1>

<%= render 'form' %>

<li class="btn btn-small"><%= link_to 'Show', [@member, @payment] %></li> |
<li class="btn btn-small"><%= link_to 'Back', member_payments_path(@member) %></li>
  </div>
</div>
