// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

#main{
 margin-top: 40px;
 padding-top: 10px;
}

#pdf_header{
  margin-top: 100px !important;
  margin-bottom: 50px !important;
  p{
    font-size: 11px;
  }
}

.pdf_table{
  margin-top: 50px !important;
}

#splash{
background: #76CE12;
}






