// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

#main{
 margin-top: 40px;
 padding-top: 10px;
}

.pretty th .current {  
  padding-right: 12px;  
  background-repeat: no-repeat;  
  background-position: right center;  
}  
.pretty th .asc{
}  
  
.pretty th .desc {   
  background-image: image-url("images.jpeg");   
} 


