<div class="row">
  <div class="span10 offset3">
<h1>Editing payment charges</h1>

<%= render 'form' %>

<%= link_to 'Show', @payment_plan, class: "btn btn-small"%> |
<%= link_to 'Back', payment_plans_path, class: "btn btn-small"%>
  </div>
</div>
