<h1> Please select group to invoice</h1>
<span class="label label-success"><%= notice%></span>
<%= link_to "INVOICE JUDGES - ANNUALLY", create_invoice_path("judges"), class: "btn btn-inverse btn-block btn-large"%>
<%= link_to "INVOICE KADHIS - MONTHLY", create_invoice_path("kadhis"), class: "btn  btn-block btn-large"%>
<%= link_to "INVOICE MAGISTRATES - MONTHLY", create_invoice_path("magistrates"), class: "btn btn-inverse btn-block btn-large"%>
